*
{
	background:#6CF;
	color:#FFF;

}

.titulo
{
	text-align:center;
	font-family:Arial, Helvetica, sans-serif;
}

#menu
{
	text-decoration:none;
	text-align:center;
	font-family:Arial, Helvetica, sans-serif;
}






